header {
  background-color: antiquewhite;
  padding: 1em;
}
nav > a {
  padding: 0.5em 1em;
}
.active {
  background-color: #e4ae5c;
}
.error404{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: auto;
  justify-content: center;
  align-items: center;
}
